python-dotenv==1.0.1
pyTelegramBotAPI==4.16.1
langchain-core==0.2.33
langchain-openai==0.1.17
langchain-community==0.2.7
langchain-groq==0.1.6
langchain-anthropic==0.1.21
langchain-google-genai==1.0.10
requests==2.32.3
Pillow==10.4.0
faiss-cpu==1.7.4
tenacity==8.2.3
